.header {
    background: url(/bg.png);
    background-size: cover;
    background-position: center;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sh {
    font-size: 0.25rem;
    color: #fff;
    text-shadow: 7px 7px 12px rgba(0, 0, 0, 0.6);
    margin-bottom: 4rem;
}

.title {
    color: #fff;
    font-size: 6rem;
    line-height: 1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 7px 7px 12px rgba(0, 0, 0, 0.6);
}

.subtitle {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-shadow: 7px 7px 12px rgba(0, 0, 0, 0.6);
}

.copybox {
    background: #ffffff55;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}