.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.logoImg {
    height: 5rem;
    width: 20rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
}

.link {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    color: #fff;
    background-color: #000;
    border-radius: 25px;
}