.tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.tooltiptext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    margin: 2px;
    padding: 5px;
    border-radius: 6px;
    font-family: monospace;
    bottom: 100%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.tooltip:hover {
    cursor: pointer;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    border-radius: 25px;
    opacity: 1;
}